body {
    max-width: 960px;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    color: gray;

}

pre {
    color: grey;
}

figure img {
    max-width: 100%;
    object-fit: contain;
}

figure {
    max-width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    padding: 20px;
}


figcaption {
    background-color: black;
    color: white;
    font-style: italic;
    margin: 2px;
    padding: 4px;
    text-align: center;
    opacity: 70%;
}


.gallery-container {
    position: relative;
    top: 0;
    left: 0;
}

.gallery-container figure,
.gallery-container #start {
    -o-object-fit: cover;
    object-fit: fill;
    position: absolute;
    opacity: 0;
}

.gallery-container #start {
    position: relative;
    left: 0;
    opacity: 1;
}

.gallery-container .show-image {
    opacity: 1;
    -webkit-transition: 3.5s;
}

ul.gallery-nav {
    margin-top: 10px;
    margin: 0 auto;
    display: inline;
    position: relative;
}

ul.gallery-nav li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    -webkit-border-radius: 8px;
    background: #ccc;
}

ul.gallery-nav li:hover,
ul.gallery-nav li:focus,
ul.gallery-nav li.switch-image {
    background: blue;
}
