.gallery-stretch {
    padding: 5%;
    color: #fff;
}

.gallery-stretch h1 {
    text-align: center;
}

.gallery-container {
    position: relative;
}

.gallery-container img {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 5px solid #ccc;
    opacity: 0;
    -webkit-transition: 1.5s;
}

.gallery-container img#start {
    position: relative;
}

.gallery-container img.g-active {
    opacity: 1;
    -webkit-transition: 1.5s;
}

ul.gallery-nav {
    margin-top: 10px;
}

ul.gallery-nav li {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
    -webkit-border-radius: 8px;
    background: #ccc;
}

ul.gallery-nav li:hover,
ul.gallery-nav li:focus,
ul.gallery-nav li.g-n-active {
    -webkit-box-shadow: none;
    background: yellow;
}

@media only screen and (min-width : 768px) {}


@media only screen and (min-width : 1024px) {

    img.caroline-pic {
        float: left;
        padding-right: 5%;
    }

    .gallery {
        float: left;
        width: 65%;
    }

    .gallery-content {
        float: right;
        width: 35%;
        margin-top: 10%;
        text-align: center;
    }
}
